#calculator {
  height: 500px;
  width: 300px;
  background-image: linear-gradient(
    90deg,
    rgba(101, 101, 101, 1) 0%,
    rgba(227, 232, 232, 1) 27%,
    rgba(244, 255, 255, 1) 47%,
    rgba(227, 232, 232, 1) 69%,
    rgba(101, 101, 101, 1) 100%
  );
  margin: auto;
  box-shadow: 5px 5px 10px black, 5px 5px 10px black;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(26, 109, 91, 0.52),
      rgba(77, 12, 60, 0.73)
    ),
    url(https://user-images.githubusercontent.com/74077573/109255832-be992380-77c2-11eb-96c9-0a8e6f431691.png);
}

.calculator-buttons {
  box-shadow: 3px 3px 5px black;
}
